{% extends 'base.html' %}
{% block content %}
<div class="login_container">
    <form class="login_form" action="">
        <div class="text_input">
            <p>帳號</p>
            <input type="text" name="account" required="required">
        </div>
        <div class="text_input">
            <p>密碼</p>
            <input type="text" name="password" required="required">
        </div>
        <div class="login_btn">
            <input type="submit" name="login" value="登入">
        </div>
    </form>
</div>
{% endblock %}
