{% extends 'base.html' %}
{% block content %}
    <h2>{{ exam_id }} {{ name }} 評分單<br>通過/已簽名評分/總段數: {{summary.0}}/{{summary.1}}/{{summary.2}}</h2>
<form method="post" action="{% url 'update_score_table' exam_id %}">
    {% if user.is_authenticated and exam_id != request.user.username %}
    {% csrf_token %}
    <button type="submit" name="save">評分</button>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>考試段數</th>
                {% if user.is_authenticated and exam_id != request.user.username %}
                <th>更改正確性扣分</th>
                <th>目前正確性扣分</th>
                <th>更改流暢度扣分</th>
                {% else %}
                <th>目前正確性扣分</th>
                {% endif %}
                <th>目前流暢度扣分</th>
                <th>總分</th>
                <th>是否通過</th>
                <th>最後評分老師</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
            <tr>
                <td>{{ row.0 }}</td>
                {% if user.is_authenticated and exam_id != request.user.username %}
                <td><input type="number" name="correctness_minus_{{ row.0 }}" value=""></td>
                <td>{{ row.1 }}</td>
                <td><input type="number" name="fluency_minus_{{ row.0 }}" value=""></td>
                {% else %}
                <td>{{ row.1 }}</td>
                {% endif %}
                <td>{{ row.2 }}</td>
                <td>{{ row.3 }}</td>
                <td>{% if row.1 is None and row.2 is None%}None{% elif row.3 > 90 %}是{% else %}否{% endif %}</td>
                <td>{{ row.4 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}
